# =========================
# Python / Backend
# =========================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Node / Frontend
# =========================

node_modules/
dist/
.vite/

# =========================
# Logs
# =========================

*.log

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Sistema operacional
# =========================

.DS_Store
Thumbs.db